# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Big Daddy\Documents\School & College\Winter Quarter\Winter Quarter (2021)\SDEV305-VIR-5343-WEB DEV FRAMEWORKS\GreenRiverDev\305\Guessbook\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
