<include href="views/header.html"/>

<section class="bg-light mx-auto rounded border border-5">
    <section class="text-dark container pt-4 mb-5">
        <h1 class="text-center text-dark " id="abt_section">About Me</h1>
        <p class="text-dark mb-3 mt-4">
            Greetings! my name is Eashune Abenojar, but you can refer to me as Shawn for an easier
            pronunciation. As always thank you for taking the time to view my website I hope
            you enjoy it!
            <br><br>
            I am a Student majoring in Computer Science at Green River College. From a young age, I've had a strong
            interest in programming, and I've found it to be a great way to solve many problems. Programming has
            always been a way for me to let my creativity flow, and it is something I am very passionate about.
            <br><br>
            My academic and professional experiences have enabled me to develop valuable skills, and I would like to
            augment my implementation of such skills by working in a formal environment, preferably in the areas of
            back-end development or full-stack development.
            <br><br>
            As a quick learner ready to acclimate to any environment and someone who looks forward to challenges, I
            hope to leverage my analytical and creative skills to work on meaningful projects and to gain new
            experiences. Feel free to connect with me through my email at EashuneAbenojar@hotmail.com
            regarding any inquiries or opportunities.
        </p>
    </section>
    <hr class="border border-dark border border-3">
    <h1 class="text-center mt-5" id="timeLine_section">My Timeline</h1>
    <aside class="timeline-container">
        <aside class="timeLine">
            <ul>
                <li>
                    <aside class="timeLine-content">
                        <h3 class="date text-dark">2017</h3>
                        <h2>How it all started</h2>
                        <p>
                            After graduating, I didn't know what i've wanted to do after
                            High school. But after taking an HTML course at Highline College. I've researched the
                            Computer Science major, and that's when I became interested in pursuing this major.
                        </p>
                    </aside>
                </li>
                <li>
                    <aside class="timeLine-content">
                        <h3 class="date text-dark">2020</h3>
                        <h2>Graduating Highline College with an AS</h2>
                        <p>
                            During my years in Highline, I grew to learn the basics of HTML, CSS, JavaScript, SQL,
                            and Java. And with the help of these projects and classes, I've become more accustomed
                            to wanting to learn more and get better at coding with multiple languages. And besides.
                            those CS
                            classes it helped me gain a few minor projects to add to my collection of repos in
                            GitHub.
                        </p>
                    </aside>
                </li>
                <li>
                    <aside class="timeLine-content">
                        <h3 class="date text-dark">2021</h3>
                        <h2>Perusing my Bachelors Degree at Green River College</h2>
                        <p>
                            I Joined Green river college to progress my knowledge in Software Development and pursue
                            a bachelor’s degree in Software Development. In my time here, I have learned how to
                            strengthen my skills in HTML, CSS, JavaScript, SQL, and Java. Not only that, I learned
                            how to use PHP properly in order to build a secured website for a company with the
                            resources we had like a server & mentors. Besides learning a new language, I also
                            learned how to use and create a proper Data Structure using the Java language.

                            Finally, with the help of a helpful course called Software career prep. I was able to
                            create a proper resume with all of my important info and skills that I’ve worked on, to
                            help give me a stepping stone in the CS field.
                        </p>
                    </aside>
                </li>
                <li>
                    <aside class="timeLine-content">
                        <h3 class="date text-dark">2022</h3>
                        <h2>Graduation</h2>
                        <p>
                            2022 will be the year I will graduate with my Bachelor degree in Information
                            Technology-Software Development, with a certificate of IT Web Application Development.
                        </p>
                    </aside>
                </li>
            </ul>
        </aside>
    </aside>
    <hr class="border border-dark border border-3">
    <h1 class="pt-3 text-center mb-4" id="project_section">Projects</h1>
    <div class="row container mx-auto mb-5">
        <div class="col-sm-6 mb-3 rounded">
            <div class="card card_height">
                <div class="card-body">
                    <h3 class="card-title fw-bold">Guest Book Project</h3>
                    <p class="card-text"> For this project, I created a Guest book webpage that takes in user
                        information. Which then sends it
                        to an SQL database, which could be viewed through an admin page when you scroll down the
                        page.</p>
                    <a href="/Personal/Portfolio-Resume/Guessbook/guestbook.php"
                       class="btn btn-primary position-absolute bottom-0 start-0 mb-3 mrgn_Lf">Project Page</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 rounded">
            <div class="card card_height">
                <div class="card-body">
                    <h3 class="card-title fw-bold">Portfolio Project</h3>
                    <p class="card-text">
                        For this project, I created a Portfolio/Resume as a small project to help with CSS ability
                        in moving
                        & placing elements in certain spots.
                    </p>
                    <a href="/Personal/Portfolio-Resume/HTML_Resume/index.html"
                       class="btn btn-primary position-absolute bottom-0 start-0 mb-3 mrgn_Lf">Project Page</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 rounded">
            <div class="card card_height">
                <div class="card-body">
                    <h3 class="card-title fw-bold">Partner Project</h3>
                    <p class="card-text">
                        This project was a partner project and during this project I expanded my knowledge in PHP
                        and got
                        better using CSS and bootstrap. Besides that, I learned how to use GitHub and Fat-Free
                        Framework.
                        Overall, this project was to help increase our skills in web development and I believed I
                        learned a
                        lot in how to create a more fluid webpage that users can interact with.
                    </p>
                    <a href="https://eabenojar.greenriverdev.com/328/dealership_project/"
                       class="btn btn-primary position-absolute bottom-0 start-0 mb-3 mrgn_Lf">Project Page</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 rounded">
            <div class="card card_height">
                <div class="card-body">
                    <h3 class="card-title fw-bold">Team Project</h3>
                    <p class="card-text">
                        For this project, me and a few classmates formed a team of 4 to help create a website for a
                        client
                        whose company is called Coneybeare. There were also other teams to compete as the client
                        choose the
                        websites with the best features. And during this significant project I was able to learn how
                        to code
                        with a team, by communicating in what ideas we can create and gaining skills from other,
                        besides
                        that I also became a leader at times where a teammate wasn't able to figure out the work.

                        Also during this project, I was able to learn how to create a secured webpage using PHP that
                        communicates with SQL in adding a database.
                    </p>
                    <a href="https://ctrl-alt-delete.greenriverdev.com/index.php"
                       class="btn btn-primary position-absolute bottom-0 start-0 mb-3 mrgn_Lf">Project Page</a>
                </div>
            </div>
        </div>
    </div>
</section>

<include href="views/footer.html"/>