<include href="views/extra_header_page.html"/>

<section class="bg-light mx-auto rounded border border-5">
    <section class="container pt-3 mb-5">
        <h2 class="mb-4" id="personalGoals">Personal Goals</h2>
        <aside class="goal1">
            <h4>Education</h4>
            <ul>
                <li>Get my bachelors degree</li>
                <li>learn more CS languages</li>
            </ul>
        </aside>
        <aside class="goal2">
            <h4>Bucket List</h4>
            <ul>
                <li>Go sky diving</li>
                <li>Travel to many places</li>
                <li>Hike to places with a scenic view</li>
            </ul>
        </aside>
        <aside class="goal3">
            <h4>Personal</h4>
            <ul>
                <li>Get an internship</li>
                <li>Become a full stack developer</li>
                <li>learn how to create a device with a Raspberry Pi</li>
            </ul>
        </aside>
        <aside class="goal4">
            <h4>Hobby</h4>
            <ul>
                <li>Finish building my Car</li>
                <li>Finish building my off-Road car</li>
                <li>Build an ultimate computer</li>
            </ul>
        </aside>
    </section>
    <hr class="border border-dark border border-3">
    <section class="container pt-3 mb-5">
        <h2 class="mb-4" id="personalSkills">Personal Skills</h2>
        <aside>
            <h4>Industry Knowledge</h4>
            <ul>
                <li>Education</li>
                <li>Computer Science</li>
                <li>Mathematics</li>
                <li>Heavy Equipment</li>
                <li>Science</li>
            </ul>
        </aside>
        <aside>
            <h4>Interpersonal Skills</h4>
            <ul>
                <li>Teamwork</li>
                <li>Customer Service</li>
                <li>Communication</li>
                <li>Teaching</li>
                <li>Leadership</li>
            </ul>
        </aside>
        <aside>
            <h4>Other Skills</h4>
            <ul>
                <li>Programming Languages</li>
                <li>Food Service</li>
                <li>Consumer Services</li>
                <li>Calculus</li>
            </ul>
        </aside>
    </section>
    <hr class="border border-dark border border-3">
    <section class="container pt-3 mb-5">
        <h2 class="mb-4" id="personalStatement">Personal Statement</h2>
        <h5>
            Essay Prompt:
        </h5>
        <p class="mb-4">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            Being born as a foreigner and being from a low-income family household. I
            wouldn&rsquo;t have dreamt of being in college and having an &ldquo;American
            Dream&rdquo;, not until I&rsquo;ve realized that I can change that dream and
            turn it into reality. When I was the age of three, I moved from the
            Philippines to the US with my mother, my father had the money to bring us
            here to the US as his side of the family was well off. But because my father
            was the only one who was generating the income, it was hard for us to only
            depend on him, so my mother took her time to find a job while also trying
            her best to teach me some English words that she remembered learned from
            school so that when I start school I would be at least ready to communicate
            with other students and the teacher. As I started elementary school, I had a
            hard time making friends and communicating with them due to a language
            barrier and as kids, some would make fun of my accent and my inability of
            speaking English, so they placed me into an ESL class and within time and
            practice I&rsquo;ve gotten better with my English and understanding the
            things around me. One day my parent gifted me my first device with a few
            games, the console&nbsp;was called&nbsp;a Nintendo DS. As this was my first
            console, the first thing I did to it was to fidget around with it and learn
            how to make it work since I had no clue on how to use it, when I figured out
            how to use it I was very excited. One day I was curious about how this
            device worked so I played around with it until it broke, I was a little
            saddened that my DS broke, but my father showed me that things could always
            be fixed, so he demonstrated to me how to replace a battery on the DS. At
            that moment that&rsquo;s when I caught on to learning how to fix things by
            replacing the batteries off non-working devices like a remote.
        </p>
        <p>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; During my time in middle school,
            I took a computer class that guided us on how to use the Windows operating
            system, the internet, and how to secure yourself from malicious programs and
            scammers. This class is what sparked my interest in how computers worked,
            and because I liked fixing things, I&rsquo;ve always wondered how people
            fixed things within the internet. So then, I came looking for answers, and
            as you know the almighty google has shown me careers that&rsquo;s associated
            with computers and the internet, as a kid I was fascinated with the word
            &ldquo;hacker&rdquo; and I learned that cybersecurity was that hacker job
            that fits my desired career. But as time goes on, I&rsquo;ve become more
            familiar with how the Operating systems and internet works, and during my
            spare time after school, I would try to learn how to code through google
            chrome&rsquo;s developer tool. As I continue to practice and use this tool,
            I become more interested in wanting to develop my own apps and software. And
            so, I&rsquo;ve made it a goal after high school that I would become a
            software developer. Not only that I&rsquo;ve always had it as a goal to make
            my parents proud for their hard work, and I&rsquo;ve always wanted to repay
            that hardship by showing them I will succeed and help make their lives
            easier with my future career, as I plan on developing an app that would help
            benefit them. This Is when I realized that my dream is becoming more of a
            reality as I slowly step forward closer to it. There will be roadblocks
            achieving this dream, but I know for a fact that It will be worth it at the
            end.
        </p>
    </section>
    <hr class="border border-dark border border-3">
    <section class="container pt-3 mb-5">
        <h2 class="mb-4" id="workHistory">Work History</h2>
        <!-- add info below -->
        <h4>Supply Chain Technician</h4>
        <h5 class="mb-4">March 2021 - Present</h5>
        <p class="mb-4">
            My responsibility for this position is to maintain the workflows for distribution and support operations as
            a member of UW Medicine Supply Chain at Harborview Medical Center.
            Other responsibilities also include, inventory control and organization of medical supplies and equipment in
            customer department storage areas, complete accurate inventory and delivery of medical supplies and
            equipment, demonstrate effective use of systems and tools, support continuous quality improvement, and
            provide exceptional customer service.
        </p>

        <h4>Food Service Worker</h4>
        <h5 class="mb-4">May 2020 - March 2021</h5>
        <p class="mb-4">
            My role in the foodservice is to help bring food to the designated areas
            within the hospital. While also working as a team to deliver the food to the
            patients. Also, it&apos;s my job to help get the food prepared and organized
            for the patient. And some time to time I will help within the dish room.
        </p>

        <h4>Customer Site Warehouse Support</h4>
        <h5 class="mb-4">June 2017 - March 2020</h5>
        <p>
            During my whole time working at Fastenal as a Part-Timer. I was able to
            learn plenty of things, such as taking deliveries, making orders, make
            branch transfers, receive in orders/transfers, and learning how to
            communicate as a team while also learning how to become a leader when
            someone doesn&apos;t know what to do. For deliveries my job was to take in
            the orders I&apos;ve or someone else picked the day before. And then I go
            out and deliver the parts such as gloves, wrenches, nuts, bolts, and screws
            to the company that wanted those items. Sometimes my manager tells me to
            receive and it&rsquo;s a pretty easy job, as all I do is scan the parts that
            have been sent by the company. Branch transfers, which is picking items and
            making custom shipping labels for other Fastenal companies to sell to their
            customers. There is a lot of heavy equipment &amp; boxes that are needed to
            be moved around within the warehouse, so dealing with heavy things is very
            common for me to work around with.
        </p>
    </section>
</section>

<include href="views/footer.html"/>