<footer class="bg-light">
  <section class="container mt-4">
    <div class="row">
      <div class="col mt-3" id="map"></div>
      <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
      <script defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1i-xasF1J7rooFEhonSodeissCIP0qHo&callback=initMap&libraries=&v=weekly"
              async></script>
      <aside class="col">
        <div class="mt-3">
          <div class="row pb-3">
            <h1 class="col-12 d-flex justify-content-center pb-3">Get In Touch</h1>
            <p class="col-12 text-center mb-0">Contact our Sales Department</p>
            <p class="col-12 text-center m">123-456-7890</p>
          </div>
          <div class="row d-flex justify-content-center pb-3">
            <ul>
              <li class=" row">
                <p class=" col-md-5">Monday</p>
                <p class=" text-left col-md-7 ">9:00am - 9:00pm</p>
              </li>
              <li class=" row">
                <p class=" col-md-5 ">Tuesday</p>
                <p class=" text-left col-md-7 ">9:00am - 9:00pm</p>
              </li>
              <li class=" row">
                <p class=" col-md-5 ">Wednesday</p>
                <p class=" text-left col-md-7 ">9:00am - 9:00pm</p>
              </li>
              <li class=" row">
                <p class=" col-md-5 ">Thursday</p>
                <p class=" text-left col-md-7 ">9:00am - 9:00pm</p>
              </li>
              <li class=" row">
                <p class=" col-md-5 ">Friday</p>
                <p class=" text-left col-md-7 ">9:00am - 9:00pm</p>
              </li>
              <li class=" row">
                <p class=" col-md-5 ">Saturday</p>
                <p class=" text-left col-md-7 ">9:00am - 9:00pm</p>
              </li>
              <li class=" row">
                <p class=" col-md-5">Sunday</p>
                <p class=" text-left col-md-7 ">9:00am - 9:00pm</p>
              </li>
            </ul>
          </div>

        </div>
      </aside>
    </div>
  </section>
  <section class="bg-dark">
    <div class="justify-content-end">
      <a class="btn btn-lg text-light" href="admin_login">Admin</a>
    </div>
  </section>
</footer>

</body>
</html>