:root {
  --primary-background: #ffffff;
  --primary-color: #ffffff;
  --primary-font: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
}
body {
  background-color: #191919;
}
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}
/*------------- all pages ------------------*/
section h3 {
  font-family: var(--primary-font);
}
section h2 {
  font-family: var(--primary-font);
}
p, h4, a, li, ul{
  font-family: var(--primary-font);
}

/*------------- header.php styles ------------- */
#titleName {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: 1.5em;
  font-family: var(--primary-font);
  font-weight: 500;
}
#name {
  font-size: 3em;
}
header {
  height: 87.5em;
}

picture img {
  width: 13em;
  height: 13em;
  border-radius: 50%;
}
/*------------- body ------------- */
.card_height{
  height: 22em;
}
.mrgn_Lf{
margin-left: 18px;
}

/*------------- TimeLine ------------- */
.timeline-section {
  background-color: var(--primary-background);
}
.timeline-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6.25em 0;
  /* temporary color */
}
.timeLine {
  width: 80%;
  height: auto;
  max-width: 100em;
  margin: 0 auto;
  position: relative;
}
.timeLine ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  list-style-type: none;
}
.timeLine ul li {
  padding: 1.25em;
  background-color: #1e1f22;
  color: white;
  border-radius: 0.625em;
  margin-bottom: 1.25em;
}
/* last container won't have margin */
.timeLine ul li:last-child {
  margin-bottom: 0;
}
.timeLine-content h2 {
  font-size: 1.563em;
  font-weight: 500;
  line-height: 1.875em;
  margin-bottom: 0.625em;
}
.timeLine-content p {
  font-size: 1em;
  line-height: 1.875em;
  font-weight: 300;
  font: var(--primary-font);
}
.timeLine-content .date {
  font-size: 0.875em;
  font-weight: 300;
  margin-bottom: 0.625em;
  letter-spacing: 0.125em;
}

/* Large Screens */
@media only screen and (min-width: 100em) {
  .timeLine::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 0.125em;
    left: 50%;
    transform: translateX(-50%);
    background-color: gray;
  }

  .timeLine ul li {
    width: 50%;
    margin-bottom: 3.125em;
    position: relative;
  }

  /* Circle left side */
  .timeLine ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-1.875em);
    border-radius: 1.25em 0 1.25em 1.25em;
  }

  /* Circle right side */
  .timeLine ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(1.875em);
    border-radius: 0 1.25em 1.25em 1.25em;
  }

  /* timelime circles */
  .timeLine ul li::after {
    content: "";
    position: absolute;
    height: 1.25em;
    width: 1.25em;
    background-color: gray;
    border-radius: 50%;
    top: 0;
  }

  /* left side */
  .timeLine ul li:nth-child(odd)::after {
    transform: translate(50%, -50%);
    right: -1.875em;
  }

  /* right side */
  .timeLine ul li:nth-child(even)::after {
    transform: translate(-50%, -50%);
    left: -1.875em;
  }

  .timeLine ul li:hover:after {
    background-color: rgb(16, 120, 218);
  }

  /* Date */
  .timeLine-content .date {
    position: absolute;
    top: -2.5em;
    font-size: 1.7em;
  }
}

